<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Форерер</title>

    <base href="/">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">#Спроси у Форера </a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Твой гороскоп <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Взгляд в будущее</a></li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">О проекте</a></li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <div class="">
                    <a href="/Овен">
                        <img src="/static/pic/71377151.jpg"
                             alt="..." class="" height="100px" weight="100px">

                        <div class="caption">
                            <h4>Овен</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="">
                    <a href="/Телец">
                        <img src="/static/pic/71377152.jpg"
                             alt="..." class="" height="100px" weight="100px">
                        <div class="caption">
                            <h4>Телец</h4>
                        </div>
                    </a>

                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="">
                    <a href="/Близнецы">
                        <img src="/static/pic/71377153.jpg"
                             alt="..." class="img-circle" height="100px" weight="100px">
                        <div class="caption">
                            <h4>Близнецы</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class=""><a href="/Рак">
                    <img src="/static/pic/71377154.jpg"
                         alt="..." class="img-circle" height="100" weight="100">
                    <div class="caption">
                        <h4>Рак</h4>
                    </div>
                </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <div class=""><a href="/Лев">
                    <img src="/static/pic/71377155.jpg"
                         alt="..." class="img-circle" height="100">
                    <div class="caption">
                        <h4>Лев</h4>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class=""><a href="/Дева">
                    <img src="/static/pic/71377160.jpg"
                         alt="..." class="img-circle" height="100">
                    <div class="caption">
                        <h4>Дева</h4>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class=""><a href="/Весы">
                    <img src="/static/pic/71377156.jpg"
                         alt="..." class="img-circle" height="100">
                    <div class="caption">
                        <h4>Весы</h4>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class=""><a href="/Скорпион">
                    <img src="/static/pic/71377157.jpg"
                         alt="..." class="img-circle" height="100">
                    <div class="caption">
                        <h4>Скорпион</h4>
                    </div>
                </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <div class=""><a href="/Стрелец">
                    <img src="/static/pic/71377158.jpg"
                         alt="..." class="img-circle" height="100">
                    <div class="caption">
                        <h4>Стрелец</h4>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class=""><a href="/Козерог">
                    <img src="/static/pic/71377161.jpg"
                         alt="..." class="img-circle" height="100">
                    <div class="caption">
                        <h4>Козерог</h4>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class=""><a href="/Водолей">
                    <img src="/static/pic/71377159.jpg"
                         alt="..." class="img-circle" height="100">
                    <div class="caption">
                        <h4>Водолей</h4>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class=""><a href="/Рыбы">
                    <img src="/static/pic/71377150.jpg"
                         alt="..." class="img-circle" height="100">
                    <div class="caption">
                        <h4>Рыбы</h4>
                    </div>
                </a>
                </div>
            </div>
        </div>

    </div>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            </div>
        </div>
    </nav>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js"></script>

</body>

</html>